header {
    overflow: hidden;
    background-color: #000000;
    width: auto;
    height: auto;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
    position: relative;
}

header p {
    display: inline-flex;
    color: white;
    text-align: right;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

header img {
    padding-top: 10px;
    padding-right: 5px;
}
.bg{
    background-image: url("./imagens/cidade.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.bg h1{
    color: #ffffff;
    position: absolute;
    text-align: center;
    margin: 0;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.skewedBG{
    background-color: #ffffff;
    background-position: center;
    width: 100%;
    height: 200px;
    position: relative;
}

.skewedBG:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: 1;
    top: 0;  
    left:0;
    bottom: 0;
    right:0;
    transform-origin: top left;
    transform: skewY(-5deg);
}